Makefile
Makefile.in
.deps
.libs
*.l[ao]
*.o
*_SK.h
*_SK.cc
*.log
*.gcno
*.user
*.info
*.gcda
*.o
*.sh
*.html
*.monitrc
*.bak
*~
#Вс окт  1 11:57:00 MSK 2017
#
INSTALL
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
stamp-h1
.gitignore.save
